---
import Site from '@layouts/Site.astro'
import BlogPostCard from '@components/BlogPostCard.astro'
import RssButton from '@components/RssButton.astro'
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { format } from 'date-fns'
import _ from 'lodash'
import type { CollectionEntry } from 'astro:content'
import { getBlogPosts } from '@utils/posts'
import { ChevronDown, ChevronUp } from 'lucide-react'
import IconButton from '@components/IconButton'

export async function getStaticPaths() {
  const englishBlogPosts = await getBlogPosts('en')
  const portugueseBlogPosts = await getBlogPosts('pt')

  return [
    {
      params: { lang: undefined },
      props: { blogPosts: englishBlogPosts },
    },
    {
      params: { lang: 'pt' },
      props: { blogPosts: portugueseBlogPosts },
    },
  ]
}

const t = useTranslate(Astro)
const language = getLanguageFromUrl(Astro.url.pathname)

type Props = {
  blogPosts: CollectionEntry<'posts'>[]
}

const blogPosts = Astro.props.blogPosts

const blogPostsGroupedByYear = _.groupBy(blogPosts, (blogPost) => {
  return format(blogPost.data.date, 'yyyy')
})

const years = Object.keys(blogPostsGroupedByYear).sort(
  (yearA, yearB) => Number(yearB) - Number(yearA)
)

const rssUrl = localizeUrl('/posts/index.xml', language)
---

<Site
  title='Posts'
  isTranslated
  description={t.PostsListDescription()}
  seo={{
    extend: {
      link: [
        {
          rel: 'alternate',
          type: 'application/rss+xml',
          href: rssUrl,
        },
      ],
    },
  }}
  htmlClass='scroll-smooth scroll-pt-[var(--nav-height)] sm:scroll-pt-0'
>
  <main class='grid grid-cols-layout'>
    <div class='sm:mb-8 hidden sm:gap-2 sm:flex sm:items-end'>
      <h1 class='m-0'>Posts</h1>
      <RssButton />
    </div>

    <div class='col-full grid grid-cols-layout'>
      {
        years.map((year, index) => {
          const blogPosts = blogPostsGroupedByYear[year]

          const prevYear: string | null = years[index - 1] ?? null
          const nextYear: string | null = years[index + 1] ?? null

          return (
            <div class='group col-full grid grid-cols-layout'>
              <div class='sr-only' id={year} />

              <div
                class:list={[
                  'col-full',
                  'grid',
                  'grid-cols-layout',
                  'sticky',
                  'top-[calc(var(--nav-height)_+_0.5rem)]',
                  'w-full',
                  'bg-background/90',
                  'backdrop-blur-sm',
                  'py-2',
                  'sm:top-0',
                ]}
              >
                <div class='flex flex-row justify-between'>
                  <h2 class='m-0 text-2xl'>
                    <time datetime={`${year}-01-01`}>{year}</time>
                  </h2>

                  <div class='flex flex-row gap-2'>
                    <IconButton
                      href={`#${prevYear}`}
                      variant='rounded-full'
                      disabled={prevYear === null}
                      aria-label={t.PreviousYear()}
                    >
                      <ChevronUp />
                    </IconButton>

                    <IconButton
                      href={`#${nextYear}`}
                      variant='rounded-full'
                      disabled={nextYear === null}
                      aria-label={t.NextYear()}
                    >
                      <ChevronDown />
                    </IconButton>
                  </div>
                </div>
              </div>

              <ul class='m-0 mt-8 grid w-full list-none grid-cols-1 gap-4 pb-24 group-last:pb-0'>
                {blogPosts
                  .sort((blogPostA, blogPostB) => {
                    return (
                      new Date(blogPostB.data.date).getTime() -
                      new Date(blogPostA.data.date).getTime()
                    )
                  })
                  .map((blogPost) => {
                    return (
                      <>
                        <li class='mb-8 last:mb-0'>
                          <BlogPostCard blogPost={blogPost} />
                        </li>
                      </>
                    )
                  })}
              </ul>
            </div>
          )
        })
      }
    </div>
  </main>

  <div
    slot='mobile-nav-title'
    class='flex flex-row items-center gap-1 [&_a]:bg-transparent'
  >
    Posts

    <RssButton />
  </div>
</Site>
