---
import Site from '@layouts/Site.astro'
import BlogPostCard from '@components/BlogPostCard.astro'
import RssButton from '@components/RssButton.astro'
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { format } from 'date-fns'
import _ from 'lodash'
import type { CollectionEntry } from 'astro:content'
import { getBlogPosts } from '@utils/posts'
import Tag from '@components/Tag.astro'
import { ChevronDown, ChevronUp } from 'lucide-react'
import IconButton from '@components/IconButton'

export async function getStaticPaths() {
  const englishBlogPosts = await getBlogPosts('en')
  const portugueseBlogPosts = await getBlogPosts('pt')

  return [
    {
      params: { lang: undefined },
      props: { blogPosts: englishBlogPosts },
    },
    {
      params: { lang: 'pt' },
      props: { blogPosts: portugueseBlogPosts },
    },
  ]
}

const t = useTranslate(Astro)
const language = getLanguageFromUrl(Astro.url.pathname)

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = {
  blogPosts: CollectionEntry<'posts'>[]
}

const blogPosts = Astro.props.blogPosts

const tags = blogPosts.flatMap((blogPost) => {
  return blogPost.data.tags
})

const tagsCount = _.countBy(tags)

const blogPostsGroupedByYear = _.groupBy(blogPosts, (blogPost) => {
  return format(blogPost.data.date, 'yyyy')
})

const years = Object.keys(blogPostsGroupedByYear).sort(
  (yearA, yearB) => Number(yearB) - Number(yearA)
)

const rssUrl = localizeUrl('/posts/index.xml', language)
---

<Site
  title="Posts"
  description={t('PostsListDescription')}
  seo={{
    extend: {
      link: [
        {
          rel: 'alternate',
          type: 'application/rss+xml',
          href: rssUrl,
        },
      ],
    },
  }}
>
  <main class="grid grid-cols-layout my-8">
    <div class="mb-8 hidden mx-auto gap-2 sm:flex sm:items-center">
      <h1 class="m-0">Posts</h1>

      <RssButton />
    </div>

    <div class="flex flex-row gap-8">
      <div class="flex-1">
        {
          years.map((year) => {
            const blogPosts = blogPostsGroupedByYear[year]

            let prevYear: number | null = Number(year) + 1
            let nextYear: number | null = Number(year) - 1

            if (!years.includes(String(nextYear))) {
              nextYear = null
            }

            if (!years.includes(String(prevYear))) {
              prevYear = null
            }

            return (
              <>
                <div class="mb-8 mt-32 flex flex-row justify-between first:mt-0">
                  <h2 id={year} class="m-0 text-2xl">
                    <time datetime={`${year}-01-01`}>{year}</time>
                  </h2>

                  <div class="flex flex-row gap-2">
                    <IconButton href={`#${prevYear}`} variant='rounded-full' disabled={prevYear === null}>
                      <ChevronUp />
                    </IconButton>

                    <IconButton href={`#${nextYear}`} variant='rounded-full' disabled={nextYear === null}>
                      <ChevronDown />
                    </IconButton>
                  </div>
                </div>

                <ul class="m-0 grid w-full max-w-2xl list-none grid-cols-1 gap-4">
                  {blogPosts
                    .sort((blogPostA, blogPostB) => {
                      return (
                        new Date(blogPostB.data.date).getTime() -
                        new Date(blogPostA.data.date).getTime()
                      )
                    })
                    .map((blogPost) => {
                      return (
                        <>
                          <li>
                            <BlogPostCard blogPost={blogPost} />
                          </li>

                          <div class="my-4 last:hidden" />
                        </>
                      )
                    })}
                </ul>
              </>
            )
          })
        }
      </div>

      <div
        class:list={[
          'max-w-xs',
          'bg-surface',
          'pt-4',
          '[&>*:last-child]:pb-4',
          '[&_h2]:px-4',
          '[&_ul]:px-4',
          'rounded',
          'shadow',
          'shadow-shadow',
          'hidden',
          'lg:flex',
          'flex-col',
          'sticky',
          'top-4',
          'max-h-[calc(100vh-2rem)]',
        ]}
      >
        <h2 class="">
          {t('ByTags')}
        </h2>

        <ul
          class="m-0 list-inside list-none flex flex-row flex-wrap gap-2 min-h-0 overflow-y-scroll"
        >
          {
            _.uniq(tags)
              .sort((tagA, tagB) => {
                const countA = tagsCount[tagA]
                const countB = tagsCount[tagB]
                return countB - countA
              })
              .map((tag) => {
                const count = tagsCount[tag]
                return (
                  <li class="">
                    <Tag tag={tag} count={count} />
                  </li>
                )
              })
          }
        </ul>
      </div>
    </div>
  </main>

  <div slot="mobile-nav-title" class="flex flex-row items-center gap-2">
    Posts

    <RssButton />
  </div>
</Site>
