---
import BlogPostReadingTime from './BlogPostReadingTime.astro'
import BlogPostDate from './BlogPostDate.astro'
import Tag from './Tag.astro'
import { localizeUrl, getLanguageFromUrl } from '@utils/i18n'
import type { CollectionEntry } from 'astro:content'

const language = getLanguageFromUrl(Astro.url.pathname)

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = {
  blogPost: CollectionEntry<'posts'>
}

const { blogPost } = Astro.props
const { title, tags, date } = blogPost.data

const {
  remarkPluginFrontmatter: { summary, readingTime },
} = await blogPost.render()
---

<article class="flex h-full flex-col gap-4">
  <h3 class="text-2xl max-w-prose m-0 border-l-2 border-primary pl-4">
    <a class="border-0" href={localizeUrl(`/posts/${blogPost.slug}`, language)}>
      {title}
    </a>
  </h3>

  {
    tags && (
      <div class="flex max-w-prose flex-wrap gap-2">
        {tags.map((tag) => {
          return <Tag tag={tag} class="snap-start whitespace-nowrap" />
        })}
      </div>
    )
  }

  <div class="max-w-prose">
    {summary}
  </div>

  <div class="[&_svg]:w-[1.25em] [&_svg]:h-[1.25em] flex flex-wrap gap-2">
    <BlogPostReadingTime readingTime={readingTime} />

    <BlogPostDate date={date} />
  </div>
</article>
