---
import BlogPostReadingTime from './BlogPostReadingTime.astro'
import BlogPostDate from './BlogPostDate.astro'
import BlogPostTag from './BlogPostTag.astro'
import type { Locale } from '@utils/i18n/locales'
import { getBlogPostFolderName } from '@utils/posts/getBlogPostFolderName'
import { render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'

type Props = {
  locale: Locale
  blogPost: CollectionEntry<'posts'>
}

const { locale, blogPost } = Astro.props
const { title, tags, date, description } = blogPost.data

const {
  remarkPluginFrontmatter: { summary, readingTime },
} = await render(blogPost)
---

<article class='flex h-full flex-col'>
  <h3 class='text-2xl max-w-prose m-0 border-l-2 border-primary pl-4'>
    <a
      class='max-w-prose'
      href={getRelativeLocaleUrl(
        locale,
        `/posts/${getBlogPostFolderName(blogPost)}`
      )}
    >
      {title}
    </a>
  </h3>

  <div class='mt-2 flex flex-wrap gap-2'>
    <BlogPostDate locale={locale} date={date} showYear={false} />
    <BlogPostReadingTime readingTime={readingTime} />
  </div>

  <div class='my-4 max-w-prose'>
    {description ?? summary}
  </div>

  {
    tags && (
      <div class='flex flex-wrap gap-2'>
        {tags.map((tag) => {
          return (
            <BlogPostTag
              locale={locale}
              tag={tag}
              class='snap-start whitespace-nowrap'
            />
          )
        })}
      </div>
    )
  }
</article>
