---
import CopyCodeBlockButton from '@components/CopyCodeBlockButton'
import DevIcon from '@components/DevIcon.astro'
import type { DevIconName } from '@components/DevIcon.astro'
import { useTranslate } from '@utils/i18n'
import * as DevIcons from './devicons'
import type { Lang } from 'shiki'
import type { HTMLAttributes } from 'astro/types'
import '@assets/css/twoslash.css'
import IconButton from './IconButton'

const t = useTranslate(Astro)

type Props = HTMLAttributes<'pre'> & {
  shikiBg: string
  shikiFg: string
  title: string
  lang: Lang
  twoslash: boolean
  codeToCopy: string
  playgroundURL: string | null
}

const {
  shikiBg,
  shikiFg,
  title,
  lang,
  codeToCopy = '',
  twoslash,
  playgroundURL,
  ...rest
} = Astro.props

const getDevIconNameByShikiLang = (lang: Lang): DevIconName | undefined => {
  const shikiLangToDevIconName: Partial<Record<Lang, DevIconName>> = {
    jsx: 'Javascript',
    tsx: 'Typescript',
    js: 'Javascript',
    ts: 'Typescript',
    css: 'Css3',
    html: 'Html5',
    shell: 'Bash',
  }

  if (lang in shikiLangToDevIconName) {
    return shikiLangToDevIconName[lang as keyof typeof shikiLangToDevIconName]
  }
}

const getShikiLangName = (lang: Lang): string | undefined => {
  const shikiLangToName: Partial<Record<Lang, string>> = {
    jsx: 'JavaScript',
    tsx: 'TypeScript',
    javascript: 'JavaScript',
    js: 'JavaScript',
    ts: 'TypeScript',
    typescript: 'TypeScript',
    shell: 'Bash',
    html: 'HTML',
    css: 'CSS',
    mdx: 'MDX',
  }

  if (lang in shikiLangToName) {
    return shikiLangToName[lang as keyof typeof shikiLangToName]
  }
}

const langName = getShikiLangName(Astro.props.lang) || Astro.props.lang

const isDevIconName = (str: string): str is DevIconName => {
  return Object.keys(DevIcons)
    .map((iconName) => iconName.toLowerCase())
    .includes(str)
}

const capitalize = <T extends string>(str: T) =>
  (str.charAt(0).toUpperCase() + str.slice(1)) as Capitalize<T>

const devIconName = isDevIconName(lang)
  ? (capitalize(Astro.props.lang) as DevIconName)
  : getDevIconNameByShikiLang(lang)
---

<style is:global define:vars={{ 'code-bg': shikiBg, 'code-fg': shikiFg }}
></style>

<div data-codeblock class:list={['last:mb-0']}>
  <div
    data-codeblock-header
    class:list={[
      'dark',
      'flex',
      'items-center',
      'gap-2',
      'rounded-t',
      'py-1',
      'bg-[var(--code-bg)]',
      'text-[var(--code-fg)]',
      'border-b',
      'border-divider',
    ]}
  >
    <div class:list={['flex', 'pl-2', 'items-center', 'gap-2']}>
      {devIconName && <DevIcon name={devIconName} />}

      <div class:list={['rtl', 'truncate', 'font-mono']}>
        {title ? <bdi>{title}</bdi> : langName || t.NoName()}
      </div>
    </div>

    <div class='ml-auto flex flex-row gap-2 [&_svg]:h-6 [&_svg]:w-6 pr-2'>
      {
        playgroundURL && (
          <IconButton variant='rounded' href={playgroundURL} target='_blank'>
            <DevIcon name='Typescript' />
          </IconButton>
        )
      }

      <CopyCodeBlockButton
        client:load
        successText={t.Copied() + '!'}
        errorText={t.FailedToCopy()}
        code={codeToCopy}
      />
    </div>
  </div>

  <pre
    class:list={[
      'shiki',
      twoslash && 'twoslash',
      'shadow-sm',
      'shadow-shadow',
      'rounded-b',
      'overflow-x-auto',
      'bg-[var(--code-bg)]',
      'text-[var(--code-fg)]',
      '[color-scheme:dark]',
      '[&_code]:py-4',
      '[&_code]:grid',
      '[&_code>.line]:px-8',
      '[&_code>.line]:border-l-[2px]',
      '[&_code>.line]:border-[var(--code-bg)]',
      '[&_code>.line.highlight]:bg-[#272115]',
      '[&_code>.line.highlight]:border-[#624710]',
      '[&_.error]:text-sm',
      '[&_.error]:px-8',
      '[&_.error]:py-1',
      '[&_.popover]:my-2',
      '[&_.popover]:rounded-sm',
      '[&_.popover]:bg-gray-700',
      '[&_.popover]:text-white',
      '[&_.arrow]:bg-gray-700',
      '[&_.arrow]:border-gray-700',
      Astro.props.class,
    ]}
    {...rest}><slot /></pre>
</div>

<script>
  import { computePosition, offset, flip } from '@floating-ui/dom'

  for (const lspElement of document.querySelectorAll<HTMLElement>(
    '[data-codeblock] pre.twoslash data-lsp'
  )) {
    lspElement.addEventListener('mouseover', async (e) => {
      if (!e.target) {
        return
      }

      const tooltip = document.createElement('div')
      const reference = e.target as HTMLElement

      tooltip.setAttribute('role', 'tooltip')

      const tooltipId = 'twoslash-lsp-tooltip'
      tooltip.setAttribute('id', tooltipId)
      reference.setAttribute('aria-describedby', tooltipId)

      const { x, y } = await computePosition(reference, tooltip, {
        placement: 'bottom-start',
        middleware: [offset(8), flip()],
      })

      Object.assign(tooltip.style, {
        left: `${x}px`,
        top: `${y}px`,
      })

      const lspText = reference.getAttribute('lsp')
      tooltip.textContent = lspText
      tooltip.classList.add(
        'font-mono',
        'absolute',
        'bg-gray-700',
        'text-white',
        'text-left',
        'p-2',
        'text-sm',
        'whitespace-pre-wrap'
      )

      document.body.append(tooltip)

      reference.addEventListener(
        'mouseout',
        () => {
          tooltip.remove()
          reference.removeAttribute('aria-describedby')
        },
        {
          once: true,
        }
      )
    })
  }
</script>
