---
import md5 from 'md5'
import { useTranslate } from '@utils/i18n'

const t = useTranslate(Astro)

const email = 'phelipe_teles@hotmail.com'

const generateGravatarUrl = (width: number) =>
  `https://www.gravatar.com/avatar/${md5(email)}?s=${width}`
---

<div
  class='relative z-0 shrink-0 overflow-hidden rounded-full bg-gradient-to-br from-surface to-divider p-1'
>
  <img
    id='gravatar'
    class='rounded-full'
    srcset={`
      ${generateGravatarUrl(200)} 1x,
      ${generateGravatarUrl(400)} 2x,
      ${generateGravatarUrl(600)} 3x
    `}
    alt={t.GravatarAltText()}
    width='200'
    height='200'
  />
</div>
