---
import NavMobile from './NavMobile.astro'
import NavDesktop from './NavDesktop.astro'
import type { Locale } from '@utils/i18n/locales'

type Props = {
  locale: Locale
  title: string
  mobileNavTitle: string | null
  isTranslated: boolean
}

const { title, mobileNavTitle, isTranslated, locale } = Astro.props
---

<div class='w-full'>
  <div class='pt-nav-height sm:hidden'>
    <NavMobile locale={locale} title={title} mobileNavTitle={mobileNavTitle} />
  </div>

  <div class='hidden h-full w-full sm:block'>
    <NavDesktop locale={locale} isTranslated={isTranslated} />
  </div>
</div>
