---
import { useTranslate } from '@utils/i18n/useTranslate'
import { ChevronLeft, Menu } from 'lucide-react'
import IconButton from '@components/IconButton'

const parentUrl = Astro.url.pathname.replace(/[^/]+\/?$/, '')

type Props = {
  title: string
  mobileNavTitle?: string
}

const { title, mobileNavTitle } = Astro.props

const t = useTranslate(Astro)
---

<div
  class='fixed top-0 left-0 z-30 flex w-screen justify-between rounded-none bg-background/90 py-4 px-horizontal-padding backdrop-blur'
>
  <div class='flex flex-row items-center gap-2 min-w-0'>
    {
      Astro.url.pathname !== '/' && (
        <a
          href={parentUrl}
          data-testid='parent-page-link'
          aria-label={t.GoBack()}
        >
          <ChevronLeft />
        </a>
      )
    }

    {
      mobileNavTitle ? (
        <h2
          class='m-0 truncate font-sans font-normal'
          set:html={mobileNavTitle}
        />
      ) : (
        <h2 class='m-0 truncate font-sans font-normal'>{title}</h2>
      )
    }
  </div>

  <IconButton
    variant='rounded-full'
    className='bg-transparent'
    data-a11y-dialog-show='sidenav'
    data-testid='open-sidenav'
    aria-label={t.OpenSidenav()}
  >
    <Menu />
  </IconButton>
</div>
