---
import { format } from 'date-fns'
import { getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { getBlogPostName } from '@utils/posts'
import Site from '@layouts/Site.astro'
import Tag from '@components/Tag.astro'
import Katex from '@components/Katex.astro'
import PostNav from '@components/PostNav.astro'
import BlogPostDate from '@components/BlogPostDate.astro'
import BlogPostToc from '@components/BlogPostToc.astro'
import BlogPostReadingTime from '@components/BlogPostReadingTime.astro'
import type { MarkdownHeading } from 'astro'
import { getSandpackCssText } from '@codesandbox/sandpack-react'
import { formatISO } from 'date-fns'
import type { CollectionEntry } from 'astro:content'

type Props = CollectionEntry<'posts'> & {
  isTranslated: boolean
  headings: MarkdownHeading[]
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  frontmatter: Record<string, any>
  nextBlogPost: CollectionEntry<'posts'> | null
  prevBlogPost: CollectionEntry<'posts'> | null
}

const {
  data,
  frontmatter,
  headings,
  nextBlogPost,
  prevBlogPost,
  isTranslated,
} = Astro.props
const { readingTime, summary } = frontmatter
const { title, date, tags } = data

const language = getLanguageFromUrl(Astro.url.pathname)
const ogImageUrl = localizeUrl(
  `/posts/${getBlogPostName(Astro.props)}/image.png`,
  language
)

const hasToc = headings.length > 0
---

<Site
  isTranslated={isTranslated}
  title={`${title} - Phelipe Teles`}
  description={summary}
  seo={{
    openGraph: {
      basic: {
        title: `${title}`,
        image: ogImageUrl,
        type: 'article',
      },
      article: {
        tags,
        publishedTime: formatISO(new Date(date)),
        authors: ['Phelipe Teles'],
      },
    },
    twitter: {
      card: 'summary_large_image',
    },
    extend: {
      meta: [
        {
          name: 'twitter:image',
          content: ogImageUrl,
        },
      ],
    },
  }}
  htmlClass="scroll-smooth scroll-pt-nav-height sm:scroll-pt-0"
>
  <Fragment slot="head">
    <meta name="publish-date" content={format(date, 'yyyy-MM-dd')} />
    {tags && <meta name="keywords" content={tags.join(', ')} />}
    <meta name="description" content={summary} />

    {data.math && <Katex />}

    {/* FIXME: only include this if the page needs it */}
    <style id="sandpack" set:html={getSandpackCssText()}></style>
  </Fragment>

  <main class="grid grid-cols-layout">
    <div class="pt-8 sm:col-content px-0">
      <article>
        <header class="flex flex-col sm:items-center">
          <h1 class="mb-4 text-4xl max-w-prose">
            {title}
          </h1>

          <div class="mb-4 flex gap-2 flex-row">
            <BlogPostDate date={date} />
            <BlogPostReadingTime readingTime={readingTime} />
          </div>

          {
            tags && (
              <div class="mb-4 flex max-w-lg flex-wrap gap-2">
                {tags.map((tag) => {
                  return <Tag tag={tag} />
                })}

                <Tag tag="..." />
              </div>
            )
          }
        </header>

        <hr class="my-8" />

        <div
          data-has-toc={hasToc ? 'true' : 'false'}
          class:list={[
            'group',
            'data-[has-toc=true]:flex',
            'data-[has-toc=true]:flex-col-reverse',
            'data-[has-toc=true]:lg:grid',
            'data-[has-toc=true]:lg:gap-8',
            'data-[has-toc=true]:lg:grid-cols-[minmax(70ch,1fr),1fr]',
          ]}
        >
          <div
            data-blog-post
            class:list={[
              'sm:group-data-[has-toc=false]:max-w-prose',
              'sm:group-data-[has-toc=false]:mx-auto',
              '[&>pre]:my-8',
              '[&>pre]:full-width-on-mobile',
              '[&>img]:my-8',
              '[&_img]:mx-auto',
              '[&>hr]:border-0',
              '[&>hr]:text-center',
              "[&>hr]:after:content-['â‚']",
              '[&>figure]:my-8',
              '[&>figure]:full-width-on-mobile',
              '[&>astro-island>div]:my-8',
              '[&>lite-youtube]:my-8',
              '[&>blockquote]:my-8',
              '[&>figure_video]:min-h-[15em]',
              '[&_.katex-display]:overflow-x-auto',
              '[&_.katex-display]:overflow-y-hidden',
            ]}
          >
            <slot />
          </div>

          <aside class="min-w-0 invisible group-data-[has-toc]:visible">
            <BlogPostToc headings={headings} />
          </aside>
        </div>
      </article>

      <hr class="full-width-on-mobile mt-8" />

      <PostNav
        class="full-width-on-mobile sm:my-8"
        prevBlogPost={prevBlogPost}
        nextBlogPost={nextBlogPost}
      />

      <hr class="full-width-on-mobile mb-8" />
    </div>
  </main>
</Site>
