---
import { format } from 'date-fns'
import { getLanguageFromUrl, localizeUrl, useTranslate } from '@utils/i18n'
import { getBlogPostName } from '@utils/posts'
import Site from '@layouts/Site.astro'
import Tag from '@components/Tag.astro'
import Katex from '@components/Katex.astro'
import PostNav from '@components/PostNav.astro'
import BlogPostDate from '@components/BlogPostDate.astro'
import BlogPostToc from '@components/BlogPostToc.astro'
import BlogPostReadingTime from '@components/BlogPostReadingTime.astro'
import type { MarkdownHeading } from 'astro'
import { getSandpackCssText } from '@codesandbox/sandpack-react'
import { formatISO } from 'date-fns'
import type { CollectionEntry } from 'astro:content'
import IconButton from '@components/IconButton'
import clsx from 'clsx'
import { List, X } from 'lucide-react'

type Props = CollectionEntry<'posts'> & {
  isTranslated: boolean
  headings: MarkdownHeading[]
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  frontmatter: Record<string, any>
  nextBlogPost: CollectionEntry<'posts'> | null
  prevBlogPost: CollectionEntry<'posts'> | null
}

const {
  data,
  frontmatter,
  headings,
  nextBlogPost,
  prevBlogPost,
  isTranslated,
} = Astro.props
const { readingTime, summary } = frontmatter
const { title, date, tags } = data

const language = getLanguageFromUrl(Astro.url.pathname)
const ogImageUrl = localizeUrl(
  `/posts/${getBlogPostName(Astro.props)}/image.png`,
  language
)

const t = useTranslate(Astro)

const tocWouldBeEmpty = headings.length === 0
---

<Site
  isTranslated={isTranslated}
  title={`${title} - Phelipe Teles`}
  description={summary}
  seo={{
    openGraph: {
      basic: {
        title: `${title}`,
        image: ogImageUrl,
        type: 'article',
      },
      article: {
        tags,
        publishedTime: formatISO(new Date(date)),
        authors: ['Phelipe Teles'],
      },
    },
    twitter: {
      card: 'summary_large_image',
    },
    extend: {
      meta: [
        {
          name: 'twitter:image',
          content: ogImageUrl,
        },
      ],
    },
  }}
  htmlClass='scroll-smooth scroll-pt-nav-height sm:scroll-pt-0'
>
  <Fragment slot='head'>
    <meta name='publish-date' content={format(date, 'yyyy-MM-dd')} />
    {tags && <meta name='keywords' content={tags.join(', ')} />}
    <meta name='description' content={summary} />

    {data.math && <Katex />}

    {/* FIXME: only include this if the page needs it */}
    <style id='sandpack' set:html={getSandpackCssText()}></style>
  </Fragment>

  <main class='grid grid-cols-layout'>
    <div class='pt-8 sm:col-content px-0'>
      <article>
        <header class='flex flex-col'>
          <h1 class='mb-4 text-4xl max-w-prose'>
            {title}
          </h1>

          <div class='mb-4 flex gap-2 flex-row'>
            <BlogPostDate date={date} />
            <BlogPostReadingTime readingTime={readingTime} />
          </div>

          {
            tags && (
              <div class='mb-4 flex max-w-lg flex-wrap gap-2'>
                {tags.map((tag) => {
                  return <Tag tag={tag} />
                })}

                <Tag tag='...' />
              </div>
            )
          }
        </header>

        <hr class='my-8' />

        <div
          data-blog-post-container
          data-toc={tocWouldBeEmpty ? 'closed' : 'open'}
          class:list={[
            'group',
            'flex',
            'flex-col',
            'lg:gap-8',
            !tocWouldBeEmpty && 'lg:flex-row-reverse',
          ]}
        >
          {
            !tocWouldBeEmpty && (
              <aside
                style={{
                  '--offset-from-top': '1rem',
                }}
                class:list={[
                  'relative',
                  'shrink-0',
                  'mb-8',
                  'lg:group-data-toc-open:card',
                  'lg:ml-auto',
                  'lg:mb-0',
                  'lg:basis-1/3',
                  'lg:sticky',
                  'lg:top-[var(--offset-from-top)]',
                  'lg:h-[calc(100vh-var(--offset-from-top)_*_2)]',
                ]}
              >
                <IconButton
                  data-toggle-toc
                  variant='rounded-full'
                  data-open-toc-label={t.OpenToc()}
                  data-closed-toc-label={t.CloseToc()}
                  aria-label={t.CloseToc()}
                  style={{
                    // @ts-expect-error I'm allowed to do this
                    '--duration': '150ms',
                  }}
                  data-preload
                  className={clsx(
                    'z-1',
                    'absolute',
                    'top-4',
                    'right-4',
                    'hidden',
                    'lg:grid',
                    'lg:min-w-0',
                    'lg:group-data-toc-open:grid-cols-[0fr_max-content]',
                    'lg:group-data-toc-closed:grid-cols-[1fr_max-content]',
                    'transition-all',
                    'duration-[var(--duration)]',
                    'ease-in-out',
                    'overflow-hidden',
                    'lg:justify-center'
                  )}
                >
                  <X
                    className={clsx(
                      'col-start-2',
                      'col-end-2',
                      'row-start-1',
                      'row-end-1',
                      'scale-0',
                      'transition-transform',
                      'duration-[var(--duration)]',
                      'ease-out',
                      'group-data-toc-open:scale-100',
                      'group-data-toc-open:delay-[var(--duration)]'
                    )}
                  />

                  <List
                    className={clsx(
                      'col-start-2',
                      'col-end-2',
                      'row-start-1',
                      'row-end-1',
                      'scale-0',
                      'transition-transform',
                      'duration-[var(--duration)]',
                      'ease-in',
                      'group-data-toc-closed:scale-100',
                      'group-data-toc-closed:delay-[var(--duration)'
                    )}
                  />

                  <div
                    class:list={[
                      'col-start-1',
                      'col-end-1',
                      'group-data-toc-closed:mx-2',
                      'truncate',
                    ]}
                  >
                    {t.OpenToc()}
                  </div>
                </IconButton>

                <div
                  data-blog-post-toc-container
                  data-preload
                  class:list={[
                    'max-lg:card',
                    'lg:h-full',
                    'lg:p-4',
                    'lg:ml-auto',
                    'lg:group-data-toc-open:translate-x-0',
                    'lg:group-data-toc-open:scale-x-1',
                    'lg:group-data-toc-open:opacity-1',
                    'lg:group-data-toc-closed:translate-x-full',
                    'lg:group-data-toc-closed:opacity-0',
                    'lg:group-data-toc-closed:scale-x-0',
                    'lg:group-data-toc-closed:pointer-events-none',
                    'transition-[transform,opacity]',
                    'duration-300',
                    'ease-in-out',
                  ]}
                >
                  <BlogPostToc headings={headings} />
                </div>
              </aside>
            )
          }

          <div
            data-blog-post
            class:list={[
              'min-w-0',
              '[&>pre]:my-8',
              '[&>pre]:max-sm:full-bleed',
              '[&>[data-codeblock]]:my-8',
              '[&>[data-codeblock]]:max-sm:full-bleed',
              '[&>[data-codeblock]_pre]:max-sm:rounded-none',
              '[&>[data-codeblock]_[data-codeblock-header]]:max-sm:rounded-none',
              '[&>hr]:border-0',
              '[&>hr]:text-center',
              "[&>hr]:after:content-['â‚']",
              '[&>figure]:max-sm:full-bleed',
              '[&>astro-island>div]:my-8',
              '[&>lite-youtube]:my-8',
              '[&>blockquote]:my-8',
              '[&>figure_video]:min-h-[15em]',
              '[&_.katex-display_.katex]:text-left',
              '[&_.katex-display_.katex]:ml-horizontal-padding',
              '[&_.katex-display]:overflow-x-auto',
              '[&_.katex-display]:overflow-y-hidden',
            ]}
          >
            <slot />
          </div>
        </div>
      </article>

      <hr class='max-sm:full-bleed mt-8' />

      <PostNav
        class='max-sm:full-bleed sm:my-8'
        prevBlogPost={prevBlogPost}
        nextBlogPost={nextBlogPost}
      />

      <hr class='max-sm:full-bleed mb-8' />
    </div>
  </main>
</Site>

<script>
  const blogPostContainer = document.querySelector(
    '[data-blog-post-container]'
  ) as HTMLElement

  const toggleTocButton = document.querySelector(
    '[data-toggle-toc]'
  ) as HTMLElement

  const tocContainer = document.querySelector('[data-blog-post-toc-container]')

  const storedTocState = localStorage.getItem('__preferred_toc_state')
  if (storedTocState !== null) {
    if (storedTocState === 'open') {
      openToc()
    } else {
      closeToc()
    }
  }

  function openToc() {
    blogPostContainer?.setAttribute('data-toc', 'open')
    localStorage.setItem('__preferred_toc_state', 'open')
    toggleTocButton.setAttribute(
      'aria-label',
      toggleTocButton.dataset.closedTocLabel ?? ''
    )
  }

  function closeToc() {
    blogPostContainer?.setAttribute('data-toc', 'closed')
    localStorage.setItem('__preferred_toc_state', 'closed')
    toggleTocButton.setAttribute(
      'aria-label',
      toggleTocButton.dataset.openTocLabel ?? ''
    )
  }

  toggleTocButton?.addEventListener('click', () => {
    const tocIsOpen = blogPostContainer.dataset.toc === 'open'

    if (tocIsOpen) {
      closeToc()
      tocContainer?.addEventListener(
        'transitionend',
        () => {
          tocContainer.classList.add('invisible')
        },
        {
          once: true,
        }
      )
    } else {
      openToc()
      tocContainer?.classList.remove('invisible')
    }
  })
</script>
