---
import { format } from 'date-fns'
import { getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { getBlogPostName } from '@utils/posts'
import Site from '@layouts/Site.astro'
import Tag from '@components/Tag.astro'
import Katex from '@components/Katex.astro'
import PostNav from '@components/PostNav.astro'
import BlogPostDate from '@components/BlogPostDate.astro'
import BlogPostToc from '@components/BlogPostToc.astro'
import BlogPostReadingTime from '@components/BlogPostReadingTime.astro'
import type { MarkdownHeading } from 'astro'
import { getSandpackCssText } from '@codesandbox/sandpack-react'
import { formatISO } from 'date-fns'
import type { CollectionEntry } from 'astro:content'

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = CollectionEntry<'posts'> & {
  headings: MarkdownHeading[]
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  frontmatter: Record<string, any>
  nextBlogPost?: CollectionEntry<'posts'>
  prevBlogPost?: CollectionEntry<'posts'>
}

const { data, frontmatter, headings, nextBlogPost, prevBlogPost } = Astro.props
const { readingTime, summary } = frontmatter
const { title, date, tags } = data

const language = getLanguageFromUrl(Astro.url.pathname)
const ogImageUrl = localizeUrl(
  `/posts/${getBlogPostName(Astro.props)}/image.png`,
  language
)
---

<Site
  title={`${title} - Phelipe Teles`}
  description={summary}
  seo={{
    openGraph: {
      basic: {
        title: `${title}`,
        image: ogImageUrl,
        type: 'article',
      },
      article: {
        tags,
        publishedTime: formatISO(new Date(date)),
        authors: ['Phelipe Teles'],
      },
    },
    twitter: {
      card: 'summary_large_image',
    },
    extend: {
      meta: [
        {
          name: 'twitter:image',
          content: ogImageUrl,
        },
      ],
    },
  }}
  htmlClass="scroll-smooth scroll-pt-nav-height sm:scroll-pt-0"
>
  <Fragment slot="head">
    <meta name="publish-date" content={format(date, 'yyyy-MM-dd')} />
    {tags && <meta name="keywords" content={tags.join(', ')} />}
    <meta name="description" content={summary} />

    {data.math && <Katex />}

    {/* FIXME: only include this if the page needs it */}
    <style id="sandpack" set:html={getSandpackCssText()}></style>
  </Fragment>

  <main class="grid grid-cols-layout">
    <div
      class="col-full max-w-full rounded-none px-horizontal-padding pt-8 shadow-none sm:col-content sm:px-0"
    >
      <article>
        <header>
          <h1 class="mb-4 text-4xl">
            {title}
          </h1>

          <div class="mb-4 flex flex-col gap-2">
            <BlogPostReadingTime readingTime={readingTime} />

            <BlogPostDate date={date} />
          </div>

          {
            tags && (
              <div class="mb-4 flex flex-wrap gap-2">
                {tags.map((tag) => {
                  return <Tag tag={tag} />
                })}

                <Tag tag="..." />
              </div>
            )
          }
        </header>

        <hr class="my-8" />

        <div
          class="flex flex-col-reverse lg:grid lg:grid-cols-[minmax(65ch,1fr),1fr] lg:gap-8"
        >
          <div
            data-blog-post
            class:list={[
              '[&>pre]:full-width-on-mobile',
              '[&>figure]:full-width-on-mobile',
              '[&>[data-codeblock]]:full-width-on-mobile',
              '[&>[data-codeblock]_pre]:max-sm:rounded-none',
              '[&>[data-codeblock-with-header]]:mt-16',
              '[&_img]:mx-auto',
              '[&>hr]:border-0',
              '[&>hr]:text-center',
              "[&>hr]:after:content-['â‚']",
              '[&>pre]:my-8',
              '[&>figure]:my-8',
              '[&>img]:my-8',
              '[&>astro-island>div]:my-8',
              '[&>lite-youtube]:my-8',
              '[&>blockquote]:my-8',
              '[&>figure_video]:min-h-[15em]',
              '[&_.katex-display]:overflow-x-auto',
              '[&_.katex-display]:overflow-y-hidden',
              '[&_*:where(h2,h3,h4,h5,h6)]:mb-8',
              '[&_*:where(h2,h3,h4,h5,h6)]:mt-4',
              '[&_*:where(h2,h3,h4,h5,h6)]:pt-4',
              '[&_*:where(h2,h3,h4,h5,h6)_a]:text-primary',
              '[&_*:where(h2,h3,h4,h5,h6)_a]:border-0',
              '[&_*:where(h2,h3,h4,h5,h6)_a]:before:content-["_#"]',
            ]}
          >
            <slot />
          </div>

          <aside class="min-w-0">
            <BlogPostToc headings={headings} />
          </aside>
        </div>
      </article>

      <hr class="full-width-on-mobile mt-8" />

      <div class="full-width-on-mobile sm:my-8">
        <PostNav prevBlogPost={prevBlogPost} nextBlogPost={nextBlogPost} />
      </div>

      <hr class="full-width-on-mobile mb-8" />
    </div>
  </main>
</Site>
